body{
    font-family:'Source Sans Pro',sans-serif ;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'fjalla One',sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
h1{
    
    /* ancho de linea */
    line-height: 1.5em;
    font-size: 40px;
    /* separacion de las letras */
    letter-spacing: -.2px;
    text-transform: capitalize;
    text-decoration: underline;
    color: white;
}
h1 strong{
    color:#026fff;
}
.hero{
height: 300px;
background-image: url('../images/hero.jpg') ;
background-color: #1b2127;
background-size: 500px 300px;
background-repeat: no-repeat;
background-position-x: right;
}
.project{
    /* border-top: 10px solid black;
    border-right: 10px solid red;
    border-left: 10px solid blue;
    border-bottom: 10px solid gray; */
    /* Se debe declara los tres elementos para que se vea el borde */
    /* border-color:  red;
    border-width: 10px;
    border-style: solid; */
    border:1px solid gray;
    border-radius: 10px;
}
.project-details{
    width: 500px;
}
.project-image-container{
    width: 500px;
}
.header{
    background-color: #1b2127;
    color: white;
}
.header a{
    color: white;
    text-decoration: none;
    
}