body{
    font-family:'Source Sans Pro',sans-serif ;
margin:0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'fjalla One',sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
h1{
    
    /* ancho de linea */
    line-height: 1.5em;
    font-size: 40px;
    /* separacion de las letras */
    letter-spacing: -.2px;
    text-transform: capitalize;
    text-decoration: underline;
    color: white;
    margin: 100px  150px 70px 30px;
}
h1 strong{
    color:#026fff;
}
.hero{
height: 300px;
background-image: url('../images/hero.jpg') ;
background-color: #1b2127;
background-size: 500px 300px;
background-repeat: no-repeat;
background-position-x: right;
}
.portfolio{
    background: #FAFAFA;
}
.project{
    border:1px solid gray;
    border-radius: 10px;
    margin:10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    /* border-top: 10px solid black;
    border-right: 10px solid red;
    border-left: 10px solid blue;
    border-bottom: 10px solid gray; */
    /* Se debe declara los tres elementos para que se vea el borde */
    /* border-color:  red;
    border-width: 10px;
    border-style: solid; */

    /* margin-right: 0%;
    margin-left: ;
    margin-top: ; */
}
.project-details{
    width: 500px;
}
.project-image-container{
    width: 500px;
}
.header{
    background-color: #1b2127;
    color: white;
}
.header a{
    color: white;
    text-decoration: none;
    
}
.flexbox{
 display:flex;
 /* nowrap hace que ningun elemento se mueva de la linea x */
flex-wrap: wrap;
 /* flex-direction: column; */

}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid;

 /* determina cuando se encoje un elemento o no */
    flex-shrink: 1 ;
}